<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Greeting webapp</title>
    <link rel="stylesheet" href="/greeting-webapp.css">
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <h1>Greeting Webapp</h1>
        <ul>
          <li>Greet me</li>
          <li>Greeted</li>
        </ul>
      </div>

      {{{body}}}
    </div>

  </body>
</html>
