<form class="inputCover" action="/greeted" method="post">
  <h2>You have greeted:</h2>


    {{#each names}}
    <div class="greetedNames">
      <li ><a href="/counter/{{this.name}}">{{this.name}}</a></li>
    </div>
    {{/each}}

</form>
