<form class="inputCover" action="/greeted" method="post">
  <h2>You have greeted:</h2>


    {{#each name}}
    <div class="greetedNames">
      <li ><a href="/counter/{{this}}">{{this}}</a></li>
    </div>
    {{/each}}

</form>
