<div class="countUsers">
  <img src="/imgs/user-icon.png" alt="icon">
  <div class="countGreets">
    <p id="conterTag">0</p>
    <p id="userWord">Users</p>
  </div>
</div>

<form class="inputCover" action="/" method="post">
  <h2>Greet me</h2>
  <label for="input">Name:</label>
  <input type="text" name="takeName" value="" id="input"><br>
  <div class="languagediv">
       <input type="radio" name="language" value="Sesotho"> <br>
       <label for="">Sesotho</label>
     </div>

     <div class="languagediv">
       <input type="radio" name="language" value="English"> <br>
       <label for="">English</label>
     </div>

     <div class="languagediv">
       <input type="radio" name="language" value="IsiXhosa"><br>
       <label for="">IsiXhosa</label>
     </div>
     <br>
  <input class="btn" type="submit" name="greet" value="Greet me">
</form>
