<form class="inputCover" action="/" method="post">
  <h2>Greet me</h2>
  <label for="input">Name:</label>
  <input type="text" name="takeName" value="" id="input">
  <input class="btn" type="submit" name="greet" value="Greet me">
</form>
