body
{
  margin: auto;
}

.container
{
  margin: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
}

.nav
{
  height: 10%;
  width: 100%;
  background: #f80000;
  color: white;
  font-family: "sans-serif";
}

.nav h1
{
  margin:10px 30px;
  position: absolute;
}

.nav ul
{
  float: right;
  margin: 0 10px 0 0;
}

.nav li
{
  padding: 20px;
  display: inline-block;
  margin-left: -5px;
  height: inherit;
  border-left: 2px solid white;
  border-top: 2px solid #f80000;
  border-bottom: 2px solid #f80000;
  font-family: "sans-serif";
  font-weight: bold;
}

.nav a
{
  text-decoration: none;
  color: white;
}

.cuontGreets
{
  margin-right: 30px;
  margin-top: 5px;
  float: right;
  color: white;
  font-family: "sans-serif";
  font-size: 28px;
  font-weight: bold;
}

.countUsers
{
  background-color: #324b5c;
  width: 20%;
  height: 22%;
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}

.countUsers img
{
  height: 140px;
  float: left;
}

#conterTag
{
  margin-left: 35px;
  margin-top: 30px;
}


.inputCover
{
  height: 40%;
  width: 40%;
  margin-top: 100px;
  margin-left: 400px;
  border: 2px solid grey;

}

.inputCover h2
{
  font-family: "sans-serif";
  text-align: center;
}

.inputCover label
{
  font-family: "sans-serif";
  margin-left: 120px;
  font-size: 20px;

}

.inputCover input
{
  margin-top: 20px;
  height: 25px;
  width: 200px;
  margin-left: 10px;
  border-radius: 2px;
  text-align: center;
}

.languagediv
{
  display: inline-block;
  margin-top: -8px;
  width: 10px;
  margin-left: 12px;
  margin-right: 80px;
}

.languagediv input
{
  width: 16px;
  margin-left: 135px;
  margin-right: -40px;

}

.languagediv label
{

  font-family: "sans-serif";
  font-size: 12px;
  margin-right: -100px;
}


.inputCover .btn
{
  height: 40px;
  width: 286px;
  background-color: #f80000;
  border-color: #f80000;
  color: white;
  font-weight: bolder;
  border-radius: 2px;
  margin-left: 120px;
  margin-top: 10px;
  font-size: 18px;
}


.display
{
  margin-top: 20px;
  height: 10%;
  width: 50%;
  background-color: #324b5c;
  margin-left: 335px;
  border-radius: 8px;
}

.display p
{
  font-family: "sans-serif";
  font-size: 18px;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-left: 270px;
  position: absolute;

}

.greetedNames
{
  background-color: #324b5c;
  color: white;
  height: 35px;
  width: 115px;
  text-align: center;
  display: inline-block;
  font-family: "sans-serif";
  list-style: none;
  border-radius: 8px;
  margin-left: 10px;
  margin-right:0px;
  margin-top: 10px;
}


.greetedNames li
{
  margin-top: 7px;
}

.greetedNames a
{
  text-decoration: none;
  color: white;
}

.displayCounts
{
  margin-top: 200px;
  height: 10%;
  width: 50%;
  background-color: #324b5c;
  margin-left: 335px;
  border-radius: 8px;
}
#countingGreets
{
  font-family: "sans-serif";
  font-size: 18px;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-left: 130px;
  position: absolute;
}
